body {
  background-color: rgb(65, 65, 65);
}

#topbar {
  top: 0;
  background-color: red;
  padding: 20px 0;
  position: fixed;
  z-index: 1000;
  opacity: 90%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.container {
  margin-top: 160px;
}

.comic-card {
  height: 300px;
  background-size: cover;
  margin: 10px 19px;
  padding: 0;
}

.comic-card .info {
  width: 100%;
  padding: 10px;
  display: none;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

.comic-card .info p {
  margin: 0;
}

.comic-card:hover .info {
  display: block;
}